Repository cybex-dev/twilio_voice, pull requests merged in 2023-09, with the labels that each got.

#152 Improved, revised ConnectionService impl
  CHANGELOG.md
  NOTES.md
  README.md
  TODO.md
  android/src/main/AndroidManifest.xml
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVCallParameters.kt
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVCallParametersImpl.kt
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVParameters.kt
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVParametersImpl.kt
  android/src/main/kotlin/com/twilio/twilio_voice/fcm/VoiceFirebaseMessagingService.kt
  android/src/main/kotlin/com/twilio/twilio_voice/messaging/FirebaseMessagingService.kt
  android/src/main/kotlin/com/twilio/twilio_voice/receivers/TVBroadcastReceiver.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnection.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnectionService.kt
  android/src/main/kotlin/com/twilio/twilio_voice/types/ContextExtension.kt
  android/src/main/kotlin/com/twilio/twilio_voice/types/TVMethodChannels.kt
  android/src/main/kotlin/com/twilio/twilio_voice/types/TelecomManagerExtension.kt
  android/src/main/res/values/strings.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/values/strings.xml
  example/android/build.gradle
  example/lib/main.dart
  example/lib/screens/widgets/permissions_block.dart
  example/lib/screens/widgets/state_toggle.dart
  lib/_internal/method_channel/twilio_voice_method_channel.dart
  lib/_internal/platform_interface/twilio_voice_platform_interface.dart
Labels: enhancement, Android

#153 Plugin & Phone Account updates
  CHANGELOG.md
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
  android/src/main/kotlin/com/twilio/twilio_voice/types/TelecomManagerExtension.kt
Labels: enhancement

#154 Fix background calls rejecting
  README.md
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVParametersImpl.kt
  android/src/main/kotlin/com/twilio/twilio_voice/fcm/VoiceFirebaseMessagingService.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnection.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnectionService.kt
  android/src/main/kotlin/com/twilio/twilio_voice/storage/Storage.kt
  android/src/main/kotlin/com/twilio/twilio_voice/storage/StorageImpl.kt
  android/src/main/kotlin/com/twilio/twilio_voice/types/TVMethodChannels.kt
  lib/_internal/method_channel/twilio_voice_method_channel.dart
  lib/_internal/platform_interface/twilio_voice_platform_interface.dart
Labels: bug, documentation, enhancement, Android

#155 Fix isOnCall returns true on cellular calls
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnection.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnectionService.kt
  example/lib/screens/ui_call_screen.dart
  example/lib/screens/widgets/on_call_widget.dart
Labels: bug

#156 Fix call not disconnecting immediately after answering
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnection.kt
Labels: bug

#157 Fix hanging up on sending digits
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
Labels: bug

#159 Call ringing outgoing direction
  CHANGELOG.md
  lib/_internal/method_channel/twilio_voice_method_channel.dart
Labels: bug

#161 Fix name resolution priority and parameters
  CHANGELOG.md
  README.md
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVParametersImpl.kt
Labels: bug, enhancement, Android

#163 Add Call `reject()` on `CallStatus.pending`
  lib/_internal/twilio_voice_web.dart
Labels: bug, web

#164 Fix notification actions and callbacks
  CHANGELOG.md
  example/web/index.html
  example/web/twilio-sw.js
Labels: bug, web

#165 Update readme
  README.md
Labels: documentation

#167 Update unified service worker
  .github/workflows/flutter.yml
  .gitignore
  CHANGELOG.md
  README.md
  example/lib/main.dart
  example/lib/screens/widgets/permissions_block.dart
  example/service-worker/twilio-sw.js
  example/web/index.html
  example/web/load-sw.js
Labels: bug, documentation, web

#168 Feat: add missing Twilio.Call functions
  lib/_internal/twilio_voice_web.dart
Labels: enhancement, web

#172 Fix `openPhoneAccountSettings` on Android
  CHANGELOG.md
  android/src/main/kotlin/com/twilio/twilio_voice/types/TelecomManagerExtension.kt
Labels: Android

#131 Fix: CallDirection.outgoing even for Incoming Calls and Active Call is not null after the call is declined.
  CHANGELOG.md
  lib/_internal/method_channel/twilio_voice_method_channel.dart
  lib/twilio_voice.dart
Labels: enhancement
