Repository cybex-dev/twilio_voice, pull requests merged in 2025-06, with the labels that each got.

#277 275 TwilioCallPlatform.hangUp() does not hang up the call—the call still continues.
  CHANGELOG.md
  TODO.md
  android/src/main/kotlin/com/twilio/twilio_voice/TwilioVoicePlugin.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnection.kt
  android/src/main/kotlin/com/twilio/twilio_voice/service/TVConnectionService.kt
Labels: Android

#267 pass customParameters from TVCallParametersImpl to TVParametersImpl
  android/src/main/kotlin/com/twilio/twilio_voice/call/TVParametersImpl.kt
Labels: bug

#285 Fixes: iOS foreground notification display
  CHANGELOG.md
  ios/Classes/SwiftTwilioVoicePlugin.swift
Labels: iOS

#287 Fixes: Adds missing deviceToken to CallEvent on iOS
  CHANGELOG.md
  ios/Classes/SwiftTwilioVoicePlugin.swift
Labels: iOS
